doctype html
head
  title Stonebreaker Assignment
body
  .controls
    button#toggle-dark Toggle Dark Mode
    button(onclick='window.print()') Print
    button#save-json Save JSON Backup
    button#load-json Load JSON Backup
    button#clear Clear Form
    input(type='file' accept='.json')#file-input
  form
    nav
      .name.form-item
        label(for='document-owner-input') Name:
        input#document-owner-input(type='text' placeholder='John Doe' name='document-owner')
    header
      h1 The Cold War
      img(src='./static/fitzpatrick.png')
    section.page#page-1
      .table.three-cols.question-table
        span.h Event
        span.h Reaction / Response by U.S.A.
        span.h Reaction / Response by Soviet Union

        div.q
          | Europe devastated by WWII - Fear of communist governments taking control.
        textarea.a(name='page1-q1-a')
        textarea.a(name='page1-q1-b')

        div.q
          | Berlin Blockade - Russian block access W. Berlin by land and Sea.
        textarea.a(name='page1-q2-a')
        textarea.a(name='page1-q2-b')

        div.q
          | Fear Soviet military will attempt to take over W. Europe - make communist.
        textarea.a(name='page1-q3-a')
        textarea.a(name='page1-q3-b')

        div.q
          | Decolonization in S.E.A. and Africa - West or East?
        textarea.a(name='page1-q4-a')
        textarea.a(name='page1-q4-b')

        div.q
          | Communist N. Korea invades non-communist S. Korea
        textarea.a(name='page1-q5-a')
        textarea.a(name='page1-q5-b')

        div.q
          | Suspicious communist spies in U.S.A. government and entertainment industry undermining U.S.A. democracy
        textarea.a(name='page1-q6-a')
        textarea.a(name='page1-q6-b')
    section.page#page-2
      p.title Soviet Foreign Policy After World War II
      ol.qa
        li
          div
            span.q In the cartoon above, who is the puppeteer?
            textarea.a(name='page2-q1')
        li
          div
            span.q Explain the symbolism of the puppets?
            textarea.a(name='page2-q2')
        li
          div
            span.q What would be an appropriate title for this cartoon?
            textarea.a(name='page2-q3')
        li
          div
            span.q How does this cartoon illustrate Soviet foreign policy after World War II?
            textarea.a(name='page2-q4')
    section.page#page-3
      p.title Causes of the Cold War
      .diagram
        .block
          span Truman Doctrine
          ul.qa
            li
              div
                span.q What was the purpose?
                textarea.a(name='page3-q1')
            li
              div
                span.q Who proposed it?
                textarea.a(name='page3-q2')
            li
              div
                span.q What year was it proposed?
                textarea.a(name='page3-q3')
            li
              div
                span.q How did it relate to the Cold War?
                textarea.a(name='page3-q4')
        .block
          span Marshall Plan
          ul.qa
            li
              div
                span.q What was the purpose?
                textarea.a(name='page3-q5')
            li
              div
                span.q Who proposed it?
                textarea.a(name='page3-q6')
            li
              div
                span.q What year was it proposed?
                textarea.a(name='page3-q7')
            li
              div
                span.q How did it relate to the Cold War?
                textarea.a(name='page3-q8')
        .block
          span Berlin Blockade
          ul.qa
            li
              div
                span.q What was the purpose?
                textarea.a(name='page3-q9')
            li
              div
                span.q Who proposed it?
                textarea.a(name='page3-q10')
            li
              div
                span.q What year was it proposed?
                textarea.a(name='page3-q11')
            li
              div
                span.q How did it relate to the Cold War?
                textarea.a(name='page3-q12')
        .block
          span Berlin Airlift
          ul.qa
            li
              div
                span.q What was the purpose?
                textarea.a(name='page3-q13')
            li
              div
                span.q Who proposed it?
                textarea.a(name='page3-q14')
            li
              div
                span.q What year was it proposed?
                textarea.a(name='page3-q15')
            li 
              div
                span.q How did it relate to the Cold War?
                textarea.a(name='page3-q16')
    section.page#page-4
      p.title Containment: Truman's Response to Soviet Expansion
      p Part A: Interpret the following cartoons by answering the questions below.
      ul.qa
        li
          div
            span Cartoon 1: "Great Expectations"
            img(src='./static/marcus.png')
          ol
            li
              div
                span.q Identify the country and leader represented by the undertaker.
                textarea.a(name='page4-q1')
            li
              div
                span.q Why would the cartoonist represent postwar England as a sick man?
                textarea.a(name='page4-q2')
            li
              div
                span.q Traditionally, England had policed the Mediterranean in order to protect its access to India and the Suez Canal.  In what Mediterranean countries did the USSR make early postwar advances to take advantage of England's incapacity to defend the Mediterranean balance of power?
                textarea.a(name='page4-q3')
            li
              div
                span.q In a sentence, summarize the meaning of this cartoon.
                textarea.a(name='page4-q4')
            li
              div
                span.q Through what 1947 policy did the United States act to spoil Russia's "Great Expectations" in this area?
                textarea.a(name='page4-q5')
        li
          div
            span Cartoon 2: "Step on it, Doc!"
            img(src='./static/justus.png')
          ol
            li
              div
                span.q In what way would the continuation of chaos in Western Europe be beneficial to Communism?
                textarea.a(name='page4-q6')
            li
              div
                span.q What country might take advantage of the weakness of Western Europe in 1947?
                textarea.a(name='page4-q7')
            li
              div
                span.q What country does the cartoonist see as the savior of Western Europe?
                textarea.a(name='page4-q8')
            li
              div
                span.q In a sentence, summarize the meaning of this cartoon.
                textarea.a(name='page4-q9')
            li
              div
                span.q Through what 1947 policy did the United States hasten to send economic aid to a Europe devastated by war?
                textarea.a(name='page4-q10')
        li
          div
            span Cartoon 3: "Unintentional Cupid"
            img(src='./static/yardley.png')
          ol
            li
              div
                span.q Name some of the countries represented under the Atlantic Pact.
                textarea.a(name='page4-q11')
            li
              div
                span.q What country and leader are portrayed in the role of Cupid?
                textarea.a(name='page4-q12')
            li
              div
                span.q What historic agreeman is being represented here as a marriage?
                textarea.a(name='page4-q13')
            li
              div
                span.q In a sentence, summarize the meaning of this cartoon.
                textarea.a(name='page4-q14')
            li
              div
                span.q In what sense could the Atlantic Pact be referred to as a "shotgun wedding"?
                textarea.a(name='page4-q15')
        li
          div
            span Cartoon 4: "History Doesn't Repeat Itself."
            img(src='./static/low.png')
          ol
            li
              div
                span.q Who is the man leading the United Nations?
                textarea.a(name='page4-q16')
            li
              div
                span.q To what 1950 conflict are they presumably headed?
                textarea.a(name='page4-q17')
            li
              div
                span.q What historic incidents leading to World War II prompted the inscription on the League of Nations tombstone?
                textarea.a(name='page4-q18')
            li
              div
                span.q In a sentence, summarize the meaning of this cartoon.
                textarea.a(name='page4-q19')
            li
              div
                span.q In your opinion, why didn't history repeat itself after World War II?
                textarea.a(name='page4-q20')

      
      p Part B: To conclude this lesson, interpret the final cartoon below by answering the questions at the end.
      img(src='./static/justus2.png')
      ol.qa
        li
          div
            span.q Why was the conflict between the United States and the Soviet Union after World War II often referred to as "the cold war"?
            textarea.a(name='page4-q21')
        li
          div
            span.q Accoding to the cartoonist, what was America's most effective weapon in the Cold War?
            textarea.a(name='page4-q22')
        li
          div
            span.q In your opinion, did American involvement in postwar Western Europe result in "heating up the cold war" or serve as a measured alternative to World War III? Explain your answer.
            textarea.a(name='page4-q23')
        li
          div
            span.q How did containment permanently change United States peacetime foreign policy?
            textarea.a(name='page4-q24')
    section.page#page-5
      p.title Korea: War Without Victors
      ol.qa
        li
          span What is meant by each of these phrases from the article:
          ol(type='a')
            li
              div
                span.q "the little broken finger of Asia"
                textarea.a(name='page5-q1-a')
            li
              div
                span.q "Red China's Joe"
                textarea.a(name='page5-q1-b')
        li
          div
            span.q Why were Americans fighting along with Colombians, Ethiopians, and Porto Ricans?
            textarea.a(name='page5-q2')
        li
          div
            span.q Why had the Chinese entered the war?
            textarea.a(name='page5-q3')
        li
          div
            span.q Why weren't Americans allowed to go on the offensive?
            textarea.a(name='page5-q4')
        li
          div
            span.q Why did the soldiers feel just the sort of frustration that got General MacArthur fired?
            textarea.a(name='page5-q5')
        li
          div
            span.q Is the Korean War presented in histories today as a success or failure?  Explain your answer.
            textarea.a(name='page5-q6')
        li
          div
            span.q In your opinion, did the 33,000 American men who were killed in battle die in vain?  Explain your reasoning.
            textarea.a(name='page5-q7')
        li
          ol(type="a")
            li
              div
                span.q How would you justify the war to a mother whose son was killed in the war?
                textarea.a(name='page5-q8')
            li
              div
                span.q How would Woodrow Wilson and Franklin Roosevelt - both firm believers in collective security - have viewed the outcome of the war?
                textarea.a(name='page5-q9')
        li
          div
            span.q Has history vindicated President Truman's decision to fire General MacArthur? Explain your answer.
            textarea.a(name='page5-q10')
        li
          div
            span.q What other limited wars has the world witnessed since the end of the Korean Conflict?  Why are we likely to have more frustrating wars of this kind in the future?
            textarea.a(name='page5-q11')
    section.page#page-6
      p.title Loyalty vs. Liberty: The McCarthy Era
      p The following activity involves recognizing cause-effect relationships in the McCarthy era.  Where the cause is given, your task is to supply the effect stemming from that cause.  Where the effect is given, you need to supply the cause for that result.
      .table.two-cols
        .h Causes
        .h Effects
        
        textarea.question(name='page6-q1')
        div.answer
          | Actors and writers leaned toward Communist and Socialist principles

        div.question
          | China became Communist in 1949
        textarea.answer(name='page6-q2')

        div.question
          | Accusations of HUAC about persons with Communist leanings and questionable loyalty
        textarea.answer(name='page6-q3')

        div.question
          input(type='text' size=3 name='page6-q4').inline
          span War
        div.answer
          | Enhanced McCarthy's power and prestige in early 1950s

        div.question
          | Rumors of an artist's placement on the blacklist.
        textarea.answer(name='page6-q5')

        textarea.question(name='page6-q6')
        div.answer
          | Automatic damage to reputation

        div.question
          | Cooperation with HUAC
        textarea.answer(name='page6-q7')

        textarea.question(name='page6-q8')
        div.answer
          | Publications of "Red Channels"

        div.question
          | Need for quality writers
        textarea.answer(name='page6-q9')

        textarea.question(name='page6-q10')
        div.answer
          | Blacklist began losing its effect

        textarea.question(name='page6-q11')
        div.answer
          | Lack of creativity in movies
    section.page#page-7
      p.title Loyalty vs. Liberty: The McCarthy Era
      ol.qa
        li
          div
            span.q List examples of planning displayed in a Levittown.
            textarea.a(name='page7-q1')
        li
          div
            span.q Why did Levitt plan everything the same?
            textarea.a(name='page7-q2')
        li
          div
            span.q Cite examples of conformity in Levittown.
            textarea.a(name='page7-q3')
        li
          div
            span.q How does Levitt attempt to show variety? In your opinion, does it succeed? Explain your position.
            textarea.a(name='page7-q4')
        li
          div
            span.q Levittown in the 1980s has taken on a new look. How has conformity been replaced?
            textarea.a(name='page7-q5')
        li
          div
            span.q Why has conformity been replaced in Levittown?
            textarea.a(name='page7-q6')
        li
          div
            span.q Explain which Levittown - old or new - better expresses the American spirit.
            textarea.a(name='page7-q6')
    section.page#page-8
      p.title Loyalty vs. Liberty: The McCarthy Era
      p Part A.  One of the best ways to review a period in history is through a study of its most important events.  Below are some of the milestones from 1920 to 1960.  Recall the turning points of this period by completing the chart that follows, listing for each item a cause, an effect, and a category such as political, economic, or social.
      .table.four-cols
        span.h Milestones
        span.h Cause
        span.h Effect(s)
        span.h Category

        div.q
          | 1920 Census:
        textarea.a(name='page8-q1-a')
        textarea.a(name='page8-q1-b')
        textarea.a(name='page8-q1-c')

        div.q
          | Immigration Act of 1924:
        textarea.a(name='page8-q2-a')
        textarea.a(name='page8-q2-b')
        textarea.a(name='page8-q2-c')

        div.q
          | Stock Market Crash:
        textarea.a(name='page8-q3-a')
        textarea.a(name='page8-q3-b')
        textarea.a(name='page8-q3-c')

        div.q
          | Inauguration of Franklin D. Roosevelt:
        textarea.a(name='page8-q4-a')
        textarea.a(name='page8-q4-b')
        textarea.a(name='page8-q4-c')

        div.q
          | Wagner Act:
        textarea.a(name='page8-q5-a')
        textarea.a(name='page8-q5-b')
        textarea.a(name='page8-q5-c')

        div.q
          | "Rosie the Riveter":
        textarea.a(name='page8-q6-a')
        textarea.a(name='page8-q6-b')
        textarea.a(name='page8-q6-c')

        div.q
          | D-Day:
        textarea.a(name='page8-q7-a')
        textarea.a(name='page8-q7-b')
        textarea.a(name='page8-q7-c')

        div.q
          | Atomic bomb:
        textarea.a(name='page8-q8-a')
        textarea.a(name='page8-q8-b')
        textarea.a(name='page8-q8-c')

        div.q
          | Truman Doctrine:
        textarea.a(name='page8-q9-a')
        textarea.a(name='page8-q9-b')
        textarea.a(name='page8-q9-c')

        div.q
          | Levittown:
        textarea.a(name='page8-q10-a')
        textarea.a(name='page8-q10-b')
        textarea.a(name='page8-q10-c')

        div.q
          i Brown v. Board of Education of Topeka:
        textarea.a(name='page8-q11-a')
        textarea.a(name='page8-q11-b')
        textarea.a(name='page8-q11-c')

        div.q
          | Salk vaccine:
        textarea.a(name='page8-q12-a')
        textarea.a(name='page8-q12-b')
        textarea.a(name='page8-q12-c')
